body {

    background-image: url("carbon-fiber-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;

}

a:link,
a:visited {
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;

}

a:hover,
a:active {
    background-color: rgba(104, 104, 104, 0.438);
}

#txtlink:link,
#txtlink:visited {
    color: rgb(255, 255, 255);
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;

}

#headerlink:link,
#headerlink:visited {
    color: rgb(255, 255, 255);
    padding: 1.5% 100%;
    text-align: center;
    text-decoration: none;

}

#headerlink:hover,
#headerlink:active {
    background-color: rgba(255, 255, 255, 0.025);
}

header {
    background-image: url("header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    margin-top: 7%;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
}

#navleft {
    position: fixed;
    left: 0;
    top: 20%;
    width: 20%;
    height: 100%;
    background-color: #35427991;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

#navleft2 {
    position: fixed;
    left: 0;
    top: 20%;
    width: 20%;
    height: 100%;
    background-color: #35427991;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

#navleftbottom {
    background-image: url("navleft bottom.jpg");
    position: fixed;
    left: 1%;
    top: 70%;
    width: 20%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

br {
    font-size: 5%;
}

#navright {
    position: fixed;
    right: 0;
    top: 10%;
    width: 10%;
    height: calc(100vh - 100px);
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

header h1,
header h2 {
    color: rgb(255, 255, 255);
    margin: 0;
    line-height: 1.1;
}

h1 {
    color: rgb(0, 0, 0);
}

#special {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 0.5;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-size: 19px;
    line-height: 0.5;
    margin: 20px 0;
}

p,
h2 {
    line-height: 1.4;
}

#section1,
#section2 {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#sectie1,
#sectie2,
#sectie3,
#sectie4,
#sectie5,
#sectie6 {
    margin-bottom: 40px;
    scroll-margin-top: 25%;
}

#section1 p,
#section2 p {
    line-height: 1.4;
    margin: 20px auto;
    max-width: 80%;
}

footer {
    position: flex;
    width: 78.9%;
    height: 30%;
    background-color: #35427991;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    padding-left: 20%;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding-right: 24%;
}

#gallery {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 25%;
    padding-right: 25%;
}